<html>
    <body>
        {% if user.is_authenticated %}
            <p>You are logged in as {{ user }}.</p>
        {% else %}
            <p>You are anonymous.</p>
        {% endif %}

        <ul>
        {% for msg in messages %}
            <li>
                {{ msg.text }}
                <time> {{ msg.datetime }} </time>
            </li>
        {% endfor %}
        </ul>

        <form action="./send" method="post">
            <textarea name="text" rows=5 cols=50 placeholder="Type a message..."></textarea>
            <input type="submit" value="Send">
        </form>

        {% if user.is_authenticated %}
            <a href="/logout">logout</a>.
        {% else %}
            <a href="/login">login</a>.
        {% endif %}
    </body>
</html>
